@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the spinners in WebKit browsers */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.carousel-container {
  border: 0px solid white;
  padding-bottom: 50px;
}

.react-multi-carousel-item {
  transition: opacity 0.2s ease-in-out;
  transition: blur(500px) 0.5s ease-in-out;
}

.react-multi-carousel-item.inactive-slide {
  opacity: 0;
  pointer-events: none;
}

.react-multi-carousel-item.active-slide {
  opacity: 1;
  filter: blur(0px);
}

/* .react-multi-carousel-dot-list {
  bottom: 30px !important;
} */

.slide-right {
  -webkit-animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.slide-left {
  -webkit-animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-255px);
    transform: translateX(-255px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-255px);
    transform: translateX(-255px);
  }
}

@font-face {
  font-family: 'algerianFont';
  src: url('/fonts/ALGERIA.woff') format('woff');
  /* Adjust the format as per your font file */
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}